@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

body {
  font-family: "Open Sans Condensed", sans-serif;
}

header {
  margin-bottom: 80px;
}

nav {
  background-color: rgba(55, 62, 68, 0.6);
}

p {
  line-height: 35px;
  overflow-wrap: break-word;
}

h1 {
  line-height: 35px;
  overflow-wrap: break-word;
  text-overflow: clip;
}

.post {
  background-color: rgba(255, 193, 24, 0.9);
  padding: 20px;
  margin-bottom: 99px;
  min-height: fit-content;
  min-width: 300px;
}

.post-header {
  margin-bottom: 10px;
}

.post-content-p {
  font-size: 30px;
}

.btn-outline-warning {
  width: 400px;
}

.account-heading {
  color: #fff;
}

.account-img {
  width: 100px;
  margin-right: 70px;
}

.account-img-post {
  width: 100px;
  margin-bottom: 10px;
}

.alert-message {
  color: #fff;
}
