{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
{% if current_user.is_authenticated %}
    {% for post in posts %}
    <div class="post d-flex flex-column justify-content-between">
        <div class="post-header">
        - {{ post.date_posted.date() }}
        </div>
        <div class="post-content">
            <h1 class="display-4 mb-4" style="text-align: center;"><a href="{{ url_for('post', post_id=post.id) }}" class="article-title" style="color: black;">{{ post.title[0:60] }}</a></h1>
            <p class="text-secondary" style="text-align: center; font-size: 20px;">Posted by {{ post.author.username }}</p>
            <hr>
            <p style="text-align: center;" class="post-content-p">{{ post.content[0:33] }}...</p>
        </div>
    </div>
    {% endfor %}
    
    {% else %}

    {% for post in posts[0:3] %}
    <div class="post d-flex flex-column justify-content-between">
        <div class="post-header">
        - {{ post.date_posted.date() }}
        </div>
        <div class="post-content">
            <h1 class="display-4 mb-4" style="text-align: center;">{{ post.title[0:60] }}</h1>
            <p class="text-secondary" style="text-align: center; font-size: 20px;">Posted by {{ post.author.username }}</p>
            <hr>
            <p style="text-align: center;" class="post-content-p">{{ post.content[0:33] }}...</p>
        </div>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}