{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div class="d-flex justify-content-start text-light mb-4">Total posts found: {{ posts.total }}</div>
{% if current_user.is_authenticated %}
    <!--User Login-->
    {% for post in posts.items %}
    <div class="post d-flex flex-column justify-content-between">
        <div class="post-header">
        - {{ post.date_posted.date() }} | {{ post.date_posted.strftime("%H") }}:{{ post.date_posted.strftime("%M") }}
        </div>
        <div class="post-content">
            <h1 class="display-4 mb-4" style="text-align: center;"><a href="{{ url_for('posts.post', post_id=post.id) }}" class="article-title" style="color: black;">{{ post.title[0:60] }}</a></h1>
            <p class="text-secondary" style="text-align: center; font-size: 20px;">Posted by <a class="text-secondary font-weight-bold" href="{{ url_for('users.user', username=post.author.username) }}">{{ post.author.username }}</a></p>
            <hr>
            <p style="text-align: center;" class="post-content-p">{{ post.content[0:33] }}...</p>
        </div>
    </div>
    {% endfor %}
    <div class="page-nums d-flex justify-content-center" style="width: 330px; margin: auto;">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a class="btn btn-outline-secondary mb-4 ml-1" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-secondary mb-4 ml-1" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                <p class="btn ml-1" style="color: #fff;">...</p>
            {% endif %}
        {% endfor %}
    </div>


    <!--User Logout-->
    {% else %}
    {% for post in posts.items[0:5] %}
    <div class="post d-flex flex-column justify-content-between">
        <div class="post-header">
        - {{ post.date_posted.date() }}
        </div>
        <div class="post-content">
            <h1 class="display-4 mb-4" style="text-align: center;">{{ post.title[0:60] }}</h1>
            <p class="text-secondary" style="text-align: center; font-size: 20px;">Posted by <a class="text-secondary font-weight-bold" href="{{ url_for('users.user', username=post.author.username) }}">{{ post.author.username }}</a></p>
            <hr>
            <p style="text-align: center;" class="post-content-p">{{ post.content[0:33] }}...</p>
        </div>
    </div>
    {% endfor %}
    <div class="d-flex justify-content-center mt-4"><a href="{{ url_for('users.signup') }}" class="btn btn-success btn-lg">Sign UP</a> <span class="text-light ml-2" style="font-size: 30px;">to see more!</span></div>
{% endif %}
{% endblock %}