{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div class="post d-flex flex-column justify-content-between">
    {% if post.author == current_user %}
        <div class="up-del">
            <a class="btn btn-secondary m-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
        </div>
    {% endif %}
    <div class="post-header">
        <div class="d-flex justify-content-center"><img class="rounded-circle account-img-post" src="{{ url_for('static', filename='profile_images/' + post.author.image) }}"></div>
        <h2 class="text-secondary" style="text-align: center; font-size: 20px;">Owner: {{ post.author.username }}</h2>
    </div>
    <div class="post-content">
        <h1 class="display-4 mb-4 article-title" style="text-align: center;">{{ post.title }}</h1>
        <hr>
        <p style="text-align: center;" class="post-content-p">{{ post.content }}</p>
    </div>
    <p style="margin-top: 40px; font-size: 35px; opacity: 0.8;">- {{ post.date_posted.date() }} | {{ post.date_posted.strftime("%H") }}:{{ post.date_posted.strftime("%M") }}</p>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Post will be deleted forever!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input type="submit" class="btn btn-danger" value="Yes, I understand the consequences">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}