{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ image_file }}">
    <div class="media-body">
      <h2 class="account-heading">{{ current_user.username }}</h2>
      <p class="text-secondary">{{ current_user.email }}</p>
    </div>
  </div>
  <div class="d-flex justify-content-center" style="width: 500px; margin: auto;">
    <form action="" method="POST" enctype="multipart/form-data" style="width: 400px;">
    {{ form.hidden_tag() }}
    <fieldset class="form-group" style="color: #FFF;">
        <legend class="border-bottom mb-4 pb-2 text-center">Profile Data</legend>
        <div class="form-group">
            {{ form.username.label(class="form-control-label") }}

            {% if form.username.errors %}
                {{ form.username(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
            {% else %}
            {{ form.username(class="form-control") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            
            {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
            {% else %}
            {{ form.email(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.image.label() }}
            {{ form.image(class="form-control-file") }}
            {% if form.image.errors %}
                {% for error in form.image.errors %}<br>
                    <span class="text-danger">
                        {{ error }}
                    </span>
                {% endfor %}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group d-flex justify-content-center">
        {{ form.submit(class="btn btn-outline-warning") }}
    </div>
    </form>
</div>
</div>
{% endblock %}