{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div class="signup d-flex justify-content-center" style="width: 500px; margin: auto;">
    <form action="" method="POST" style="width: 500px;">
    {{ form.hidden_tag() }}
    <fieldset class="form-group" style="color: #FFF;">
        <legend class="border-bottom mb-4 pb-2 text-center">Sign Up</legend>
        <div class="form-group">
            {{ form.username.label(class="form-control-label") }}

            {% if form.username.errors %}
                {{ form.username(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
            {% else %}
            {{ form.username(class="form-control") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            
            {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
            {% else %}
            {{ form.email(class="form-control") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            
            {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
            {% else %}
            {{ form.password(class="form-control") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.confirmPassword.label(class="form-control-label") }}
            
            {% if form.confirmPassword.errors %}
                {{ form.confirmPassword(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirmPassword.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
            {% else %}
            {{ form.confirmPassword(class="form-control") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group d-flex justify-content-center">
        {{ form.submit(class="btn btn-outline-warning") }}
    </div>
    </form>
</div>
<div style="width: 550px; margin: auto;">
    <small class="text-muted">
       <span style="color: #FFF;">Already Here?</span> <a href="{{ url_for('login') }}" class="ml-2" style="color: #FFC118;">Log In</a> 
    </small>
</div>
{% endblock %}