{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ image_file }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p style="color: #FFC107;">{{ user.email }}</p>
    </div>
  </div>
  <div class="d-flex justify-content-center" style="width: 500px; margin: auto;">
    <form action="" method="POST" enctype="multipart/form-data" style="width: 400px;">
    {{ form.hidden_tag() }}
    
    </form>
</div>
</div>
{% endblock %}