<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskyPOST</title>
    <link rel="shortcut icon" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="background-color: #000CAC; margin: 15px;">
    <div class="d-flex justify-content-start">
    <p style="text-align: left; color: #fff; font-size: 20px; max-width: 1000px; min-width: 500px;">
        A problem with 500 server error has been detected and the Server has been sent you here to prevent damage to itself.
        <br>        <br>
        The problem seems to be caused by the following: 500serverinternalerror.exe
        <br>        <br>
        500_INTERNAL_SERVER_ERROR
        <br>        <br>
        If this is the first time you've seen this 500 error screen,
        go to <a href="{{ url_for('main.index') }}"><span style="color: #f00; font-size: 45px;">HOME</span></a>. If this screen appears again, follow
        these steps:
        <br>        <br>
        If this is a new page, try to reload that.
        <br>        <br>
        If problems continue, may be admin fell asleep...
        <br>        <br>
        Technical Information:
        <br>        <br>
        *** STOP: 0x1000002e (0xffffffffc0000005, 0xfffff80002e55151, 0xfffff880009a99d8,
        0xfffff880009a9230)
        <br>        <br>
        *** 500internalservererror.exe - Address 0xfffff80002e55151 base at 0xfffff80002e0d000 DateStamp
        0x4ce7951a
    </p>
    </div>
</body>
</html>